/* Fonts */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local('Muller-Regular'), url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local('Muller-Medium'), url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local('Muller-Bold'), url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 300;
  src: local('Muller-Light Italic'), url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 400;
  src: local('Muller-Regular Italic'), url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}

/* All */

:root {
  --white: #FFFFFF;
  --primary: #6D31EE;
  --primary_shade: #4F28A5;
  --primary_light: #AA9DFA;
  --grey: #F5F6F7;
  --light_grey: #E6E8EC;
  --text_grey: #A1A6B4;
  --shade_gray: #D2D5DD;
  --bc-grey: #F2F2F2;
  --black: #121723;
  --light_black: #292E39;
  --promo_color: #F0D288;
  --promo_color_shade: #BB973E;
  --error: #D52B1E;

}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--black);
}

h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1310px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
}

.fs12 {
  font-size: 12px;
}

.fs20 {
  font-size: 20px;
}

.btn {
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}

.btn-small {
  color: var(--black);
  font-weight: 500;
  border: 2px solid var(--black);
  border-radius: 77px;
}

.btn-small:focus {
  background-color: var(--primary_light);
  border: 2px solid var(--black);
}

.btn-small:hover {
  background-color: var(--black);
  border: 2px solid var(--black);
  color: var(--white);
}

.btn-small:active {
  background-color: var(--primary_shade);
  border: 2px solid var(--primary_shade);
}

.btn-big {
  padding: 23px 52px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 40px;
}

.btn-big-primary {
  color: var(--white);
  border: 2px solid var(--primary);
  background: var(--primary);
}

/* ! focus, hover, active */
.btn-big-primary:focus {
  background-color: var(--primary_light);
  border: 2px solid var(--primary_shade);
}

.btn-big-primary:hover {
  background-color: var(--primary_light);
  border: 2px solid var(--primary_light);
}

.btn-big-primary:active {
  background-color: var(--primary_shade);
  border: 2px solid var(--primary_shade);
}

.btn-big-secondary {
  color: var(--primary);
  border: 2px solid var(--primary);
  background: none;
}

.btn-big-secondary:focus {
  color: var(--white);
  background-color: var(--primary_light);
  border: 2px solid var(--primary_shade);
}

.btn-big-secondary:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

.btn-big-secondary:active {
  color: var(--white);
  background-color: var(--primary_shade);
  border: 2px solid var(--primary_shade);
}

.section-offset {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 12px;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}


/*! _____header____ */

/* header {
  outline: 1px solid red;
} */

.header-top {
  /* display: flex; */
  /* flex-direction: row; */
  /* height: 80px; */
  /* display: grid;
    height: 40px;
    padding: 20px 0;
    grid-template-columns: 15% 1fr 14%;
    gap: 80px; */
  /* border-bottom: 1px solid var(--light_grey); */
}

.header-top__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0;
    grid-template-columns: 15% 1fr 14%;
    gap: 80px; */
}

.logo__img {
  fill: var(--light_black);
}

.header__nav {
  flex-basis: 57.4%;
}

.nav__close,
.burger, .burger__btn {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  transition: 0.3s;
}

.nav__link::after {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 8px);
  background-color: var(--primary_light);
  color: var(--white);
  top: -4px;
  left: -10px;
  z-index: -2;
  opacity: 0;
}

.nav__link:focus {
  color: var(--white);
  outline: none;
}

.nav__link:focus::after {
  opacity: 1;
}

.nav__link:hover {
  color: var(--primary);
}

.nav__link:active {
  background-color: none;
  color: var(--primary_shade);
}

.header__other {
  display: flex;
  gap: 24px;
  align-items: center;
}

.search__btn {
  /* width: 24px;
  height: 24px; */
  background-color: white;
  border: none;
  transition: 0.3s;
}

.search__icon path {
  stroke: var(--primary);
}

.search__btn:focus .search__icon path {
  stroke: var(--primary_light);
}

.search__btn:hover .search__icon path {
  stroke: var(--primary_light);
}

.search__btn:active .search__icon path {
  stroke: var(--primary_shade);
}


.login__btn {
  width: 104px;
  height: 40px;
  background-color: white;
}

.header-bottom {
  border-bottom: 1px solid var(--light_grey);
  border-top: 1px solid var(--light_grey);
}

.header-bottom__container {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topics {
  flex-basis: 55%;
}

.topics__list {
  display: flex;
  justify-content: space-between;
}

.topics__link {
  position: relative;
  transition: 0.3s;
}

.topics__link::after {
  content: "";
  position: absolute;
  width: calc(100% + 11px);
  height: calc(100% + 4px);
  background-color: var(--primary_light);
  color: var(--white);
  top: -3px;
  left: -5.5px;
  z-index: -2;
  opacity: 0;
}

.topics__link:focus {
  color: var(--white);
  outline: none;
}

.topics__link:focus::after {
  opacity: 1;
}

.topics__link:hover {
  color: var(--primary);
}

.topics__link:active {
  background-color: none;
  color: var(--primary_shade);
}


.air {
  display: flex;
  flex-basis: 349px;
  padding: 10px 0;
  margin: 0 10px;
}

.air__early,
.air__now {
  width: 50%;
  padding: 0 11px;
  border-left: 1px solid var(--light_grey);
  border-right: 1px solid var(--light_grey);
  display: flex;
  align-items: center;
  gap: 8px;
}

.air__play {
  margin: 0;
  border: none;
  background-color: var(--white);
}

.air__icon {
  fill: var(--text_grey);
  transition: 0.3s;
}

.air__play:focus .air__icon {
  fill: var(--primary_light);
}

.air__play:hover .air__icon {
  fill: var(--primary);
}

.air__play:active .air__icon {
  fill: var(--primary_shade);
}

.age {
  background-color: var(--light_grey);
}

.circle {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 8px;
}


/* ________ */
.hero__container {
  display: flex;
  height: 450px;
  justify-content: space-between;
  align-items: center;
  background-image: url('../img/microphone.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 27%;
  background-position-x: 89.5%;
  background-position-y: 39%;

}

.hero__content {
  width: 57.2%;
  ;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 14px;
}

.hero__title i {
  font-weight: 400;
}

.hero__text {
  /* padding-top: 14px; */
  margin-bottom: 45px;
  line-height: 24px;
}

.hero__btn {
  display: inline-block;
  width: 245px;
  height: 70px;
}


/* !___________________ */
.modal {
  display: none;
  background: rgba(128, 128, 128, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
}

.modal__container {
  position: relative;
  max-width: 824px;
  height: 655px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  color: #FFFFFF;
  background: var(--black)
}

.modal__close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 42px;
  height: 42px;
  border: none;
  background-color: var(--black);
  cursor: pointer;
}

.modal__close-icon {
  stroke: var(--text_grey);
  transition: 0.3s;
}

.modal__close-btn:focus .modal__close-icon {
  stroke: var(--primary_light);
}

.modal__close-btn:hover .modal__close-icon {
  stroke: var(--primary);
}

.modal__close-btn:active .modal__close-icon {
  stroke: var(--primary_shade);
}

.modal__text {
  margin-bottom: 30px;
}

.modal__register-link {
  position: relative;
  color: var(--primary);
  transition: 0.3s;
}

.modal__register-link::after {
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background-color: var(--primary_light);
  color: var(--white);
  top: -3px;
  left: -3px;
  z-index: -1;
  opacity: 0;
}

.modal__register-link:focus {
  z-index: 0;
  color: var(--white);
  outline: none;
}

.modal__register-link:focus::after {
  opacity: 1;
}

.modal__register-link:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);

}

.modal__register-link:active {
  background-color: none;
  color: var(--primary_shade);
  border-bottom: 1px solid var(--primary_shade);
}



.modal__form {
  width: 75%;
  /* display: flex;

  gap: 30px; */
  flex-direction: column;
  margin-bottom: 30px;
}

.modal__form .form__input {
  width: 100%;
  height: 70px;
}

.input__login,
.input__pass {
  width: 100%;
}

.modal__help {
  padding-top: 30px;
  border-top: 1px solid red;
  margin-bottom: 30px;
}

.social__icon {
  fill: var(--text_grey);
  transition: 0.3s;
}

/* .icon__state {

} */
.social__link:focus {
  outline: none;
}

.social__link:focus .social__icon {
  fill: var(--primary_light);
}

.social__link:hover .social__icon {
  fill: var(--primary);
}

.social__link:active .social__icon {
  fill: var(--primary_shade);
}

/* ! Podcasts */

.podcasts {
  background-color: var(--bc-grey);
}

.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__list {
  /* max-width: 1100px;
    margin: auto;
    padding: 0; */
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.podcasts__item {
  /* flex-basis: 48.5%; */
  flex: 1 1 384px;
  height: 140px;
  /* margin-bottom: 30px; */
}

/* .podcasts__item:nth-last-child(-n+2) {
  margin-bottom: 0;
} */

.podcast {
  display: flex;
  background-color: #fff;
}

.podcast__foto {
  margin: 0;
  position: relative;
  /* width: 112px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; */
}


.podcast__date {
  width: 51px;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--light_grey);
  text-align: center;
}

.podcast__date time {
  font-size: 10px;

}

.podcast__info {
  width: calc(100% - 112px);
}

.podcast__desc {
  display: flex;
  justify-content: space-between;
  padding: 24px 30px;
}

.podcast__text {
  display: flex;
  flex-direction: column;
}

.podcast__time {
  margin-bottom: 8px;
}

.podcast__title {
  margin-bottom: 4px;
}

.podcast__autor {
  color: var(--text_grey);
}


.podcast__action {

  list-style: none;
  display: flex;
  gap: 32px;
  padding: 10px 10px 6px 28px;
  border-top: 1px solid var(--light_grey);
}

.action {
  position: relative;
}

.action::after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: var(--primary_light);
  color: var(--white);
  top: -2px;
  left: -2px;
  z-index: -1;
  opacity: 0;
}

.action:focus .action__icon,
.action:focus .action__num {
  z-index: 0;
  color: var(--white);
  fill: var(--white);
  outline: none;
}

.action:focus::after {
  opacity: 1;
}

.action__icon {
  width: 13px;
  height: 12px;
  fill: var(--text_grey);
}

.action__num {
  color: var(--text_grey);
}

.action__icon,
.action__num {
  transition: 0.3s;
}

.action:hover .action__icon,
.action:hover .action__num {
  fill: var(--primary);
  color: var(--primary);
}

.action:active .action__icon,
.action:active .action__num {
  fill: var(--primary_shade);
  color: var(--primary_shade);
}

.podcast__play {
  padding-top: 6px;
  background-color: white;
  border: none;
  width: 48px;
  height: 48px;
  transition: 0.3s;
}

.podcast__play circle {
  stroke: var(--text_grey);
}

.podcast__play path {
  fill: var(--text_grey);
}

.podcast__play:focus circle {
  stroke: var(--primary_light);
}

.podcast__play:focus path {
  fill: var(--primary_light);
}

.podcast__play:hover circle {
  stroke: var(--primary);
}

.podcast__play:hover path {
  fill: var(--primary);
}

.podcast__play-icon:active {
  fill: var(--primary_shade);
}

.podcast__play:active circle {
  stroke: var(--primary_shade);
}

.podcast__play:active path {
  fill: var(--white);
}

.podcasts__btn {
  margin: 0 auto;
  display: flex;
}


/* ______________ */
.broadcasts__container {
  position: relative;
  display: flex;
  gap: 30px;
  /* flex-direction: column;
  flex-wrap: wrap;
  height: 565px;
  align-content: space-between;
  justify-content: space-between; */
}

.broadcasts__title {}

.broadcasts__info {
  min-width: 255px;
}

.select__subtitle {
  color: var(--text_grey);
  margin-bottom: 8px;
}

/* .select__autor { */
.choices__inner {
  position: relative;
  min-height: auto;
  max-width: 255px;
  height: 40px;
  background: var(--light_grey);
  border: 1px solid var(--light_grey);
  border-radius: 10px;
  padding: 11px 14px 11px 11px;
  font-size: 16px;
  line-height: 16px;
  z-index: 2;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one]:after {
  border: none;
  background-image: url('../img/select.svg');
  width: 13px;
  height: 9px;
  right: 15px;
  top: 47%;
  z-index: 3;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -4px;
  transform: rotate(180deg);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 11px;
}

.is-open .choices__inner {
  border-radius: 10px;
}

.choices__list--dropdown {
  border: 1px solid var(--shade_gray);
  border-radius: 10px;
  top: calc(100% - 30px);
  padding-top: 30px;
  z-index: 1;
}

.is-open .choices__list--dropdown {
  border-color: var(--shade_gray);
}

.choices__placeholder {
  display: none;
}

.choices__list--dropdown .choices__item.is-selected {
  display: none;
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable {
    padding-right: 11px;
  }
}

.choices__list--dropdown .choices__item {
  padding: 11px;
  font-size: 16px;
  color: var(--text_grey);
  border-bottom: 1px solid var(--shade_gray);
}

.choices__list--dropdown .choices__item:last-child {
  border-bottom: none;
}

.choices:focus .choices__inner {
  border: 1px solid var(--primary);
}

.choices:hover .choices__inner {
  border: 1px solid var(--grey);
  background: var(--grey);
}

.choices:active .choices__inner {
  border: 1px solid var(--shade_gray);
  background: var(--shade_gray);
}

.choices__list--dropdown .choices__item--selectable:focus {
  background-color: var(--primary_light);
  color: var(--black);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--grey);
  color: var(--black);
}

.choices__list--dropdown .choices__item--selectable.is-selected {
  background-color: var(--light_grey);
  color: var(--black);
}



.broadcasts__archive {
  /* width: 23%; */
  width: 255px;
  position: absolute;
  top: 351px;
  left: 100px;
}

.archive__img {
  margin-bottom: 20px;
}

.archive__link {
  width: 160px;
  height: 40px;
  padding: 12px 52px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}

.archive__desc {
  line-height: 24px;
  color: var(--text_grey);
}

.broadcasts__cards {
  /* width: 74.4%; */
  max-width: 825px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 30px;
  /* margin-left: 30px;
  margin-top: auto; */
  padding-top: 14px;
}

.card {
  /* margin-bottom: 30px;
  margin-right: 30px; */
  flex: 1 1 195px;
}

/*
.card:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card:nth-child(3n) {
  margin-right: 0;
} */

.card__img {
  height: 148px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.card__img-1 {
  background-image: url('../img/broadcast1.png');
}

.card__img-2 {
  background-image: url('../img/broadcast2.png');
}

.card__img-3 {
  background-image: url('../img/broadcast3.png');
}

.card__img-4 {
  background-image: url('../img/broadcast4.png');
}

.card__img-5 {
  background-image: url('../img/broadcast5.png');
}

.card__img-6 {
  background-image: url('../img/broadcast6.png');
}


.card__info {
  height: 112px;
  padding: 20px 0 19px 15px;
  border: 1px solid var(--light_grey);
  /* border-top: none; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__info-top {}

.card__title {
  margin-bottom: 4px;
  font-weight: 500;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

.card__desc {
  color: var(--text_grey);
}

.card__link {
  display: inline-block;
  position: relative;
  width: max-content;
}

.card__link i {
  transition: 0.3s
}

.card__link-arrow {
  fill: var(--black);
  transition: 0.3s;
}

.card__link::after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: var(--primary_light);
  /* color: var(--white); */
  top: -2px;
  left: -2px;
  z-index: -1;
  opacity: 0;
}

.card .card__link:focus {
  outline: 1px solid var(--primary);
  outline-offset: 7px;
}

.card__link:focus .card__link-arrow,
.card__link:focus i {
  z-index: 0;
  color: var(--white);
  fill: var(--white);

}

.card__link:focus {
  outline: none;
}

.card:focus,
.card__link:focus::after {
  opacity: 1;
}

.card:hover .card__img {
  opacity: 0.7;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card:hover .card__link-arrow,
.card:hover i {
  fill: var(--primary);
  color: var(--primary);
}


/* .card__link:hover .card__link-arrow, .card__link:hover i{
  fill: var(--primary);
  color: var(--primary);
} */
.card:active .card__img {
  opacity: 0.7;
}

.card:active .card__link-arrow,
.card:active i {
  fill: var(--primary_shade);
  color: var(--primary_shade);
}


/* ______________ */
.guests {
  background-color: var(--black);
  color: #fff;
}

.guests__container {}

.guests__title {
  font-size: 48px;
}

.guests__subtitle {
  font-weight: 700;
  line-height: 30px;
  color: var(--text_grey);
  margin-bottom: 8px;
}

.guests__text {
  width: 70%;
  line-height: 32px;
  color: var(--text_grey);
  margin-bottom: 50px;
}

.guests__content {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.guests__list {
  /* width: 65.74%; */
  flex: 1 1 65.7%;
}

.ac {
  margin-top: 0;
  border: none;
  background-color: inherit;
}

/* .category__header::after {
  content: "";
  position: absolute;
  right: 0;
  top: 28%;
  width: 42px;
  height: 42px;
  background-image: url('../img/accordion_open.svg');
} */

.category__header {

  border-top: 1px solid var(--text_grey);
  font-weight: 500;
  height: 89px;
}

.accordion__category:last-child .category__header {
  border-bottom: 1px solid var(--text_grey);
}

.ac .ac-trigger {
  font: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  padding: 20px 2px 20px 0;
  /* width: 42px; */
  height: inherit;
  color: inherit;
}

.ac .ac-trigger::after,
.ac.is-active>.ac-header .ac-trigger::after {
  content: '';
}

.ac-trigger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.category__icon {
  stroke: var(--text_grey);
  transition: 0.3s;
}

.ac .ac-trigger:focus {
  color: var(--white);
}

.category__header:focus {
  background-color: var(--light_black);
}

.category__header:focus .category__icon {
  stroke: var(--primary_light);
}

.category__header:hover {
  color: var(--primary_light);
}

.category__header:hover .category__icon {
  stroke: var(--primary_light);
}

.ac:active .category__header {
  color: var(--primary_light);
}

.category__header:active .category__icon {
  fill: var(--primary_light);
}

.category__header:active .category__icon path {
  stroke: var(--white);
}


.category__list {
  padding: 30px 0;
  /* height: 112px; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  column-gap: 29px;
  border-top: 1px solid grey;
}

.ac-panel {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.is-active .ac-panel {
  visibility: visible;
}

.ac.is-active .category__icon {
  transform: rotate(180deg);

}

.ac.is-active .category__header,
.ac.is-active .category__list {
  border-color: var(--primary_light);
}


.category__item {
  padding-bottom: 16px;
  width: 160px;
  cursor: pointer;
  transition: 0.3s;
}

.category__item:hover {
  color: var(--primary_light);
  opacity: 0.8;
}

/* .category__item:nth-child(4n),
.category__item:last-child {
  padding-bottom: 0;
} */

.category__item:nth-last-child(-n+3) {
  padding-bottom: 0;
}

.chosen {
  color: var(--primary_light);
}

.social {
  display: flex;
  gap: 30px;
}

.guest__social {
  height: 24px;
  margin-bottom: 14px;
}

.guests__description {
  /* width: 32%; */
  flex: 1 1 31.5%;
}

.guest__img {
  width: 100%;
  height: 220px;
  background-image: url('../img/guests_common.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 12px;
}

.guest__name {
  font-weight: 500;
  margin-bottom: 8px;
}

.guest__description {
  margin-bottom: 29px;
  line-height: 28.8px;
  color: var(--text_grey);
}

.link-disabled {
  pointer-events: none;
  cursor: default;
  color: #888;
  opacity: 0.6;
}

.guest__link {
  display: inline-block;
  padding: 11px 17.5px;
  ;
  color: var(--primary_light);
  border-color: var(--primary_light);
}

.guest__link:focus {
  color: var(--white);
  border-color: var(--primary_light);
  background-color: var(--primary_light);
}

.guest__link:hover {
  color: var(--white);
  border-color: var(--primary);
  background-color: var(--primary);
}

.guest__link:active {
  color: var(--white);
  border-color: var(--primary_shade);
  background-color: var(--primary_shade);
}

/* ______________ */
.playlists__container {
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  display: flex;
  /* align-content: space-between; */
  /* height: 743px;
  max-height: 821px; */
  position: relative;
  display: flex;
  gap: 30px;

}

.playlists__info {
  width: 32%;
  min-width: 253px;
}

.playlists__genre fieldset {
  padding: 0 0 22px 0;
  margin: 0;
  border: none;
}

.genre__title {
  color: var(--text_grey);
  margin-bottom: 10px;
}

.genre__list {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 16px;

}

.genre__item {
  height: 30px;
  cursor: pointer;
}

.genre__input {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.genre__text {
  position: relative;
  padding-left: 37px;
  vertical-align: sub;
}

.genre__text::before {
  content: '';
  position: absolute;
  left: -3px;
  top: -13%;
  display: inline-block;
  box-sizing: inherit;
  width: 26px;
  height: 26px;
  border: 2px solid var(--text_grey);
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 9px;
  transition: 0.3s;
}

.genre__text::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 9px;
  display: inline-block;
  box-sizing: inherit;
  width: 26px;
  height: 26px;
  border: 7px solid var(--primary);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}

.genre__item>.genre__input:checked+.genre__text::after {
  opacity: 1;
}

.genre__item>.genre__text:focus::before {
  border-color: var(--primary);
  background-color: var(--text_grey);
}

.genre__item>.genre__text:hover::before {
  border-color: var(--primary);
}


.playlists__notice {
  width: 26%;
  /* width: 255px; */
  position: absolute;
  top: 459px;
  /* bottom: 0; */
  left: 100px;
  border-top: 1px solid var(--shade_gray);
  padding-top: 38px;
  line-height: 22px;
  color: var(--text_grey);
}

.notice__copyright {
  font-weight: 300;
  margin-bottom: 6px;
}

.notice__age {
  width: 30px;
  height: 30px;
  border: 1px solid var(--text_grey);
  border-radius: 15px;
  padding: 4px 5px;
}

.playlists__list {
  padding-top: 14px;
  /* width: 66%; */
  max-width: 730px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 224px 224px 224px;
  gap: 30px; */
}

.music-band {
  /* height: 224px;
  width: 21%; */
  /* margin-bottom: 30px;
  margin-right: 30px; */
  align-self: stretch;
  flex: 1 1 20%;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;


}

.music-band:nth-child(4n) {
  margin-right: 0px;
}

.music-band:nth-last-child(-n+4) {
  margin-bottom: 0px;
}

.music-band__foto {
  position: relative;
  width: 100%;
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.music-band__foto-1 {
  background-image: url('../img/mb_ploho.png');
}

.music-band__foto-2 {
  background-image: url('../img/mb_molchat_doma.png');
}

.music-band__foto-3 {
  background-image: url('../img/mb_motorama.png');
}

.music-band__foto-4 {
  background-image: url('../img/mb_human_tetris.png');
}

.music-band__foto-5 {
  background-image: url('../img/mb_buerak.png');
}

.music-band__foto-6 {
  background-image: url('../img/mb_july_days.png');
}

.music-band__foto-7 {
  background-image: url('../img/mb_joy_division.png');
}

.music-band__foto-8 {
  background-image: url('../img/mb_the_cure.png');
}

.music-band__foto-9 {
  background-image: url('../img/mb_the_smith.png');
}

.music-band__foto-10 {
  background-image: url('../img/mb_new_order.png');
}

.music-band__foto-11 {
  background-image: url('../img/mb_bauhaus.png');
}

.music-band__foto-12 {
  background-image: url('../img/mb_gang_of_four.png');
}

.music-band__foto:after {
  position: absolute;
  right: 0;
  height: 12px;
  padding: 4px;
  padding-top: 4px;
  background-color: var(--black);
}

.music-band__foto-1:after,
.music-band__foto-2:after,
.music-band__foto-3:after,
.music-band__foto-4:after,
.music-band__foto-5:after,
.music-band__foto-6:after {
  content: url('../img/country_russia.svg');
}

.music-band__foto-7:after,
.music-band__foto-8:after,
.music-band__foto-9:after,
.music-band__foto-10:after,
.music-band__foto-11:after,
.music-band__foto-12:after {
  content: url('../img/country_usa.svg');
}

.music-band__info {
  border: 1px solid var(--light_grey);
  /* border-top: none; */
  padding: 15px 0 15px 14px;
  height: calc(100% - 160px);
  transition: 0.3s;
}

.music-band__name {
  font-weight: 500;
  margin-bottom: 4px;
  /* transition: 0.3s; */
}

.music-band__albums {
  color: var(--text_grey);
  transition: 0.3s;
}

.music-band__foto::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  background-image: url(../img/mb_play.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 1;
}

.music-band:focus {
  outline: 0;
}

.music-band:focus .music-band__foto::before {
  opacity: 0.8;

}

.music-band:focus .music-band__info {
  border-color: var(--primary_light);
  background-color: var(--primary_light);
  color: var(--black);
}

.music-band:focus .music-band__albums {
  color: var(--black);
}

.music-band:hover .music-band__foto::before {
  opacity: 0.8;

}

.music-band:hover .music-band__info {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.music-band:hover .music-band__albums {
  color: var(--white);
}

.music-band:active .music-band__foto::before {
  opacity: 0.8;
}

.music-band:active .music-band__info {
  border-color: var(--primary_shade);
  background-color: var(--primary_shade);
  color: var(--white);
}

.music-band:active .music-band__albums {
  color: var(--white);
}

/* ______________ */
.wave {
  background: var(--light_black);
  color: #FFFFFF;
}

.wave.section-offset {
  padding-bottom: 133px;
}

.wave__container {
  display: flex;
  gap: 30px;
  align-items: center;

}

.wave__img {
  position: relative;
  width: 60%;
  height: 562px;
  background-image: url('../img/old_radio.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.stiker {
  background-image: url('../img/sticker_new.png');
  position: absolute;
  left: 0;
  width: 25%;
  height: 29%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.wave__info {
  width: 42%;
}

.wave__title {
  color: var(--promo_color);
  margin-bottom: 19px;
}

.wave__line {
  margin-bottom: 16px;
}

.wave__text {
  line-height: 29px;
}

.wave__text-1 {
  margin-bottom: 12px;
}

.wave__text-2 {
  margin-bottom: 30px;
  letter-spacing: -0.1px;
}

.wave__price {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}

.wave__yandex {
  display: inline-flex;
  color: var(--promo_color);
  border: 2px solid var(--promo_color);
  padding: 23px 11.5px;
  height: 70px;
  transition: 0.3s;
}

.yandex__icon {
  margin-right: 8px;
  transition: 0.3s;
}

.yandex__icon-1 {
  fill: var(--promo_color);
}

.yandex__icon-2 {
  fill: var(--black);
}


.wave__yandex:focus {
  color: var(--black);
  border: 2px solid var(--promo_color);
  background-color: var(--promo_color_shade);
  outline: none;
}

/* .wave__yandex:focus .yandex__icon-1{
  fill: var(--black);
}
.wave__yandex:focus .yandex__icon-2{
  fill: var(--promo_color);
} */


.wave__yandex:hover {
  color: var(--black);
  border: 2px solid var(--promo_color);
  background-color: var(--promo_color);
}

.wave__yandex:hover .yandex__icon-1 {
  fill: var(--black);
}

.wave__yandex:hover .yandex__icon-2 {
  fill: var(--promo_color);
}

.wave__yandex:active {
  color: var(--black);
  border: 2px solid var(--promo_color_shade);
  background-color: var(--promo_color_shade);
}

.wave__yandex:active .yandex__icon-1 {
  fill: var(--black);
}

.wave__yandex:active .yandex__icon-2 {
  fill: var(--promo_color_shade);
}


/* _____________ */
.about-us {
  background: var(--black);
  color: white;
}

.about-us__info {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.about-us__left {
  width: 58%;
}

.about-us__subtitle {
  font-weight: 700;
  line-height: 30px;
  color: var(--text_grey);
  margin-bottom: 8px;
}

.about-us__text {
  color: var(--text_grey);
  line-height: 32px;
}

.about-us__right {
  width: 40%;
  height: 290px;
  display: flex;
  gap: 30px;
}

.spiral {
  width: 100%;
  max-width: 160px;
  height: 100%;
  background-image: url('../img/spiral.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.star {
  width: 100%;
  height: 100%;
  background-image: url('../img/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-us__people {
  position: relative;
}

.person {}

.person__foto {
  width: 100%;
  height: 255px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.person__foto-1 {
  background-image: url('../img/us_dmitri.png');
}

.person__foto-2 {
  background-image: url('../img/us_anna.png');
}

.person__foto-3 {
  background-image: url('../img/us_petr.png');
}

.person__foto-4 {
  background-image: url('../img/us_tatyana.png');
}

.person__foto-5 {
  background-image: url('../img/us_fedor.png');
}

.person__foto-6 {
  background-image: url('../img/us_svetlana.png');
}

.person__name {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 8px;
}

.person__description {
  line-height: 24px;
  color: var(--text_grey);
}

.swiper {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 48px;
  height: 48px;
  top: 35%;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -78px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -78px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-button-next__icon,
.swiper-button-prev__icon {
  stroke: var(--text_grey);
  transition: 0.3s;
}

.swiper-button-next:focus .swiper-button-next__icon,
.swiper-button-prev:focus .swiper-button-prev__icon {
  stroke: var(--primary_light);
  fill: var(--primary_shade);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-next:hover .swiper-button-next__icon,
.swiper-button-prev:hover .swiper-button-prev__icon {
  stroke: var(--primary_light);
}

.swiper-button-next:active .swiper-button-next__icon,
.swiper-button-prev:active .swiper-button-prev__icon {
  fill: var(--primary_light);
}

.swiper-button-next:active .swiper-button-next__icon path,
.swiper-button-prev:active .swiper-button-prev__icon path {
  stroke: var(--white);
}



.about-us__form {
  margin-top: 30px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-us__form {
  max-width: 920px;
}

.form__input {
  position: relative;
  width: 100%;
  height: 150px;
}

.about-us__form .form__input:nth-child(n+2) {
  /* width: 48.3%; */
  flex: 1 1 48%;
  height: 70px;
}

.input {
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: var(--black);
  color: var(--white);
  padding: 24px 31px;
  line-height: 20px;
  /* position: absolute; */
  transition: 0.3s;
}

.just-validate-error-field {
  border-color: var(--error);
  /* color: var(--color-error); */
}

.input__massage {
  width: 100%;
  height: 150px;
  border-radius: 30px;
  padding: 30px 32px;
  resize: none;
}

.input__name,
.input__email {
  width: 100%;
}

.form__bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.form__btn {
  width: fit-content;
}

.just-validate-error-label {
  position: absolute;
  font-size: 12px;
  top: 10px;
  left: 32px;
}

.form__bottom .just-validate-error-label {
  top: 75px;
  left: 5px;
}

.checkbox-text {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  padding-left: 22px;
}

.checkbox {
  display: none;
}

.checkbox+span {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: -2px;
  border: 1px solid #FFFFFF;
}

.checkbox+span::before {
  content: url('../img/check.svg');
  position: absolute;
  left: 1px;
  top: 1px;
  /* border: 1px solid #FFFFFF; */
  opacity: 0;
  transition: 0.3s;
}

.checkbox:checked+span::before {
  opacity: 1;

}

/* .checkbox-text input {
  margin-right: 8px;
} */

.input:focus {
  background-color: var(--light_black);
  border-color: var(--primary_light);
  outline: none;
}

.form__input:hover .input {
  background-color: var(--light_black);
}

/* ____________ */
.footer {
  height: 323px;
  padding-bottom: 0;
  background: var(--light_black);
}

.footer__container {
  display: flex;
  justify-content: space-between;

}

.footer__container .section-offset {
  padding-bottom: 92px;
}

.footer__logo {
  fill: var(--white);
}

.footer__social {
  width: 114px;
  gap: 21px;
  margin-top: 17px;
}

.footer__social .social__icon {
  fill: var(--shade_gray);
}

.footer__link {
  color: white;
}

.footer__right {
  height: 90px;
  width: 445px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;

  /* display: flex;
  height: 88px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  column-gap: 109px; */
}

.footer__item {
  padding-bottom: 21px;
}

.footer__item:nth-child(3n) {
  padding-bottom: 0;
}

.footer__wave {
  height: 12px;
  background-image: url('../img/wavy_long_line.svg');
  background-repeat: repeat-x;
}

.footer__copyright {
  text-align: center;
  color: var(--text_grey);
  padding: 10px 0;
}



@media (max-width: 1024px) {

  .header__container {}

  .header-top__container {
    height: 140px;
    flex-wrap: wrap;
    align-items: normal;
  }

  .header__logo {
    height: 60px;
    width: 100%;
    padding: 23px 0;
  }

  .logo__img {
    width: 112px;
    height: 14px;
  }

  .header__logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: var(--bc-grey);
    /* opacity: .5; */
    z-index: -2;
  }

  .header__nav {
    height: 80px;
    padding: 30px 0;
    flex-basis: 77.4%;
  }

  .header2 {}

  .topics {
    flex-basis: 59.47%;
  }

  .air {
    flex-basis: 301px;
    margin-right: 0;
  }

  .age {
    display: none;
  }


  /* hero */
  .hero__container {
    height: auto;
    background-size: 25%;
    background-position-x: 87%;
    padding-bottom: 90px;
    background-position-y: 47%;
  }
  .hero__content {
    width: 65.4%;
    min-width: 460px;
   }
.hero__title {
  margin-bottom: 12px;
}
.hero__text {
  margin-bottom: 20px;
}

  .podcasts {
    padding-bottom: 92px;
  }

  /* guest */
  .guests__list {
    flex: 1 1 66.7%;
  }

  .guest__img {
    height: 159px;
  }

  /* playlist */
  .playlists__container {
    flex-direction: column;
  }

  .genre__list {
    height: 168px;
    /* width: 100%; */
    flex-wrap: wrap;
  }
  .genre__item:nth-child(-n+4) {
    width: 146px;
  }

  .playlists__genre fieldset {
    padding: 0;
  }

  .playlists__info {
    width: 500px;
  }

  .playlists__list {
    width: 100%;
    max-width: none;
    padding-top: 0;
    margin-bottom: 12px;
  }

  .music-band {
    flex-direction: row;
    flex: 1 1 29%;
    width: 29%;
  }

  .music-band__foto {
    /* width: 112px; */
    height: 112px;
    width: 44%;
  }

  .music-band__info {
    height: 112px;
    padding: 10px 0 10px 10px;
    /* width: calc(100% - 44%); */
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .music-band__foto:after {
    right: auto;
    left: 0;
  }
  .playlists__notice {
    position: initial;
    width: 100%;
  }

  .wave.section-offset {
    padding-bottom:94px;
}
  .wave__info {
    width: 50%;
}
.wave__img {
  width: 50%;
  height: 400px;
}
.wave__line {
  margin-bottom: 14px;
}

.spiral {
  display: none;
}

.about-us__left {
  width: 67%;
}
.about-us__right {
  width: 32%;
}
.swiper-button-next {
  right: -67px;
}
.swiper-button-prev {
  left: -67px;
}

.swiper-button-next, .swiper-button-prev {
  top: 37%;
}
.about-us__form {
  margin-top: 37px;
}

}



@media (max-width: 920px) {
  .header__logo {
    order: 1;
    width: 50%;
  }
  .header__other {
    width: 50%;
    order: 2;
    justify-content: end;
  }
  .header__nav {
    flex-basis: 100%;
    order: 3;
  }
  .search__btn, .login__btn {
    background-color: var(--bc-grey);
  }

  .air {
    width: 24px;
    /* margin-left: 0; */
    flex-basis: initial;
  }
  .air__now {
    width: 100%;
    padding: 0;
    border: none;
  }
  .air__early, .air__info {
    display: none;
  }
  .topics {
    flex-basis: 90%;
  }
  .music-band {
    flex: 1 1 40%;
  }
  .footer__right {
    width: 350px;
  }
  .wave__yandex {
    padding: 13px 11.5px;
    align-items: center;
}
}

@media (max-width: 768px) {
  .burger__btn {
    display: block;
    border: none;
    background-color: var(--white);
  }
.burger__img {
  fill: var(--primary);
}
.header__nav {
  order: 2;
  flex-basis: 60%;
  padding: 28px 0;
}
.nav {
  display: none;
}
.header__other {
  width: 40%;
  order: 2;}
  .search__btn, .login__btn {
    background-color: var(--white);
  }
  .hero__container {
    background: none;
  }
  .hero__content {
    width: 100%;
    min-width: initial;
  }

  .broadcasts  {
    position: relative;
    padding-bottom: 30px;
  }
  .broadcasts__container {
    flex-direction: column;
}
.broadcasts__info {
  width: 255px;
}
.broadcasts__cards {
  margin-bottom: 30px;
}
  .broadcasts__archive {
    position: initial;
    order: 3;
    width: 100%;
    display: flex;
    max-width: 345px;
    flex-wrap: wrap;
    max-height: 96px;
    flex-direction: column;
    margin: auto;
  }

  .archive__img {
    margin-bottom: 0;
    margin-right: 20px;
    width: 70px;
    height: 96px;
  }
  .archive__link {
    margin-bottom: 8px;
  }
  .archive__desc {
    width: 255px;
    height: 48px;
  }
  .broadcasts::after {
position: absolute;
content: '';
width: 100%;
height: 0px;
bottom: 157px;
border-top: 1px solid var(--bc-grey);
  }

  .guests__text {
    width: 100%;
  }
  .guests__content {
    flex-direction: column;
  }

  .guest__img {
    height: 220px;
    background-size:cover;
  }
  .wave__container {
    flex-direction: column;
  }
  .wave__img, .wave__info {
    width: 100%;
  }
  .about-us__info {
    flex-direction: column;
  }
  .about-us__left {
    width: 100%;
  }
  .about-us__right {
    flex-direction: row;
    width: 100%;
    height: 112px;
  }
  .spiral {
    display: block;
    width: 80%;
  }
  .star {
    width: 20%;
  }

 }
