/* Fonts */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local('Muller-Regular'), url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local('Muller-Medium'), url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local('Muller-Bold'), url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 300;
  src: local('Muller-Light Italic'), url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 400;
  src: local('Muller-Regular Italic'), url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}

/* All */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: '--first-color';
}

h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #121723;
  --second-color: #FFFFFF;
  --third-color: #FF9900;
  --fourth-color: #CACACA;
  --fives-color: #E1670E;
}


.container {
  max-width: 1310px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
}

.fs12 {
  font-size: 12px;
}

.fs20 {
  font-size: 20px;
}

.btn {
  padding: 0;
  cursor: pointer;
}
.btn-small {
  color: inherit;
  font-weight: 500;
  border: 2px solid #121723;
  border-radius: 77px;
}
.btn-big {
  padding: 21px 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 40px;
}
.btn-big-primary {
  color: white;
  border: 2px solid #6D31EE;
  background: #6D31EE;
}
.btn-big-secondary {
  color: #6D31EE;
  border: 2px solid #6D31EE;
  background: none;
}

.section-offset {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 12px;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}


/*! _____header____ */

/* header {
  outline: 1px solid red;
} */

.header-top {
  /* display: flex; */
  /* flex-direction: row; */
  /* height: 80px; */
  /* display: grid;
    height: 40px;
    padding: 20px 0;
    grid-template-columns: 15% 1fr 14%;
    gap: 80px; */
  /* border-bottom: 1px solid #E6E8EC; */
}

.header-top__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0;
    grid-template-columns: 15% 1fr 14%;
    gap: 80px; */
}

.header__nav {
  flex-basis: 57.4%;
}

.nav__close,
.burger {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.header__other {
  display: flex;
  gap: 24px;
  align-items: center;
}

.search__btn {
  width: 24px;
  height: 24px;
  background-color: white;
  border: none;
}

.login__btn {
  width: 104px;
  height: 40px;
  background-color: white;
}

.header-bottom {
  border-bottom: 1px solid #E6E8EC;
  border-top: 1px solid #E6E8EC;
  }

.header-bottom__container {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topics {
  flex-basis: 55%;
}
.topics__list {
  display: flex;
  justify-content: space-between;
}
.air {
  display: flex;
  flex-basis: 349px;
  padding: 10px 0;
}

.air__early,
.air__now {
  width: 50%;
  padding: 0 11px;
  border-left: 1px solid #E6E8EC;
  border-right: 1px solid #E6E8EC;
  display: flex;
  align-items: center;
  gap: 8px;
}

.early__icon,
.now__icon {
  width: 20px;
  height: 20px;
}

.age {
  background-color: grey;
}

.circle {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 8px;
}


/* ________ */
.hero__container {
  outline: 1px solid red;
  display: flex;
  height: 450px;
  justify-content: space-between;
  align-items: center;
  background-image: url('../img/microphone.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 27%;
  background-position-x: 89.5%;
  background-position-y: 25px;

}

.hero__content {
  width: 635px;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 14px;
}

.hero__title i {
  font-weight: 400;
}

.hero__text {
  /* padding-top: 14px; */
  margin-bottom: 45px;
  line-height:24px;
}

.hero__btn {
  display: inline-block;
  width: 245px;
  height: 70px;
}


/* !___________________ */
.modal {
  background: rgba(128, 128, 128, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
}

.modal__container {
  position: relative;
  max-width: 704px;
  height: 535px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  background: #121723;
}

.modal__close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 42px;
  height: 42px;
  border: none;
  background-color: #121723;
  background-image: url('../img/closed_modal.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.modal__form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

/* ! Podcasts */

.podcasts {
    background-color: #F2F2F2;
  }
  .podcasts__title {
    margin-bottom: 30px;
  }
.podcasts__list {
  /* max-width: 1100px;
    margin: auto;
    padding: 0; */
  /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.podcasts__item {
  flex-basis: 48%;
  height: 140px;
  outline: 1px solid red;
  margin-bottom: 30px;
}

 .podcasts__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.podcast {
  display: flex;
  background-color: #fff;
}

.podcast__foto {
  margin: 0;
  position: relative;
  /* width: 112px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; */
}


.podcast__date {
  width: 51px;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #E6E8EC;
    text-align: center;
}

  .podcast__date time {
  font-size: 10px;

}

.podcast__info {
  width: calc(100% - 112px);
}

.podcast__desc {
  display: flex;
  justify-content: space-between;
  padding: 24px 30px;
}
.podcast__text {
  display: flex;
    flex-direction: column;
}

.podcast__time {
  margin-bottom: 8px;
}

.podcast__title {
  margin-bottom: 4px;
}

.podcast__autor {
  color: #A1A6B4;
}


.podcast__action {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 10px 10px 6px 30px;
  border-top: 1px solid #E6E8EC;
}

.played__icon,
.liked__icon,
.shared__icon {
  width: 13px;
  height: 12px;
}

.played__num,
.liked__num,
.shared__num {
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}

.podcast__play {
  background-color: white;
  border: none;
  width: 48px;
  height: 48px;
}

.podcasts__btn {
  margin: 0 auto;
  display: flex;
}


/* ______________ */
.broadcasts__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 565px;
  align-content: space-between;
  justify-content: space-between;
  outline: 1px solid red;
}

.broadcasts__title {
}
.broadcasts__info {
  width: 23%;
}
.select__autor {
  color: #A1A6B4;
  margin-bottom: 8px;
}
.select__select {
  width: 255px;
  height: 40px;
  background: #E6E8EC;
  border-radius: 10px;
  border: none;
  padding: 12px 15px 12px 12px;
}

.broadcasts__archive {
  width: 23%;
}
.archive__img {
  margin-bottom: 24px;
}
.archive__link {
  width: 160px;
height: 40px;
  padding: 12px 45px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}
.archive__desc {
  line-height: 24px;
  color: #A1A6B4;
}

.broadcasts__cards {
  width: 74.4%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: 30px;
  margin-top: auto;
}

.card {
margin-bottom: 30px;
margin-right: 30px;
flex: 1 1 30%;
}
.card:nth-last-child(-n+3) {
 margin-bottom: 0;
  }
  .card:nth-child(3n) {
    margin-right: 0;
     }


.card__info {
  padding: 20px 16px;
  border: 1px solid #E6E8EC;
  border-top: none;
}

.card__img {
  height: 148px;
}

.card__img-1 {
  background-image: url('../img/broadcast1.png');
}

.card__img-2 {
  background-image: url('../img/broadcast2.png');
}

.card__img-3 {
  background-image: url('../img/broadcast3.png');
}

.card__img-4 {
  background-image: url('../img/broadcast4.png');
}

.card__img-5 {
  background-image: url('../img/broadcast5.png');
}

.card__img-6 {
  background-image: url('../img/broadcast6.png');
}

.card__title {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
}

.card__desc {
  padding-top: 4px;
  color: #A1A6B4;
}

.card__link {
  display: inline-block;
  margin-top: 20px;
}


/* ______________ */
.guests {
  background-color: #121723;
  color: #fff;
}
.guests__container {
  outline: 1px solid red;
}

.guests__title {
  font-size: 48px;
}

.guests__subtitle {
  font-weight: 700;
  line-height: 30px;
  color: #A1A6B4;
  margin-bottom: 8px;
}

.guests__text {
  width: 70%;
  line-height: 32px;
  color: #A1A6B4;
  margin-bottom: 50px;
}

.guests__content {
  display: flex;
  justify-content: space-between;
}
.guests__list {
  width: 65%;
}

.category__header::after {
  content: "";
  position: absolute;
  right: 0;
  top: 28%;
  width: 42px;
  height: 42px;
  background-image: url('../img/accordion_open.svg');
}

.category__header {

  position: relative;
  padding: 35px 42px 35px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
font-weight: 500;
}

.category__list {
  margin: 30px 34px 30px 0;
  height: 112px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 30px;
}

.category__item {
  padding-bottom: 16px;

}

.category__item:nth-child(4n),
.category__item:last-child {
  padding-bottom: 0;
}

.social {
  display: flex;
  gap: 30px;
}

.guests__description {
  width: 32%;
}
.guest__img {
  width: 100%;
  height: 220px;
  background-image: url('../img/guests_olga.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 12px;
}
.guest__name {
  font-weight: 500;
  margin-bottom: 8px;
}
.guest__description {
margin-bottom: 30px;
  line-height: 28.8px;
  color: #A1A6B4;
}
.guest__link {
  padding: 12px 19.5px;
  color: #AA9DFA;
  border-color: #AA9DFA;
}

/* ______________ */
.playlists__container {
  outline: 1px solid red;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  align-content: space-between;
  /* height: 743px; */
  max-height: 821px;

}

.playlists__info {
  width: 30%;
}

.genre__title {
color: #A1A6B4;
margin-bottom: 8px;
}
.genre__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.playlists__notice {
  width: 30%;
    border-top: 1px solid #D2D5DD;
    padding-top: 38px;
    line-height: 22px;
    color: #A1A6B4;
}
.notice__copyright {
  font-weight: 300;
}

.playlists__list {
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 224px 224px 224px;
  gap: 30px; */
}

.music-band {
  /* height: 224px;
  width: 21%; */
  margin-bottom: 30px;
  margin-right: 30px;
  align-self: stretch;
    flex: 1 1 20%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}
.music-band:nth-child(4n) {
  margin-right: 0px;
}
.music-band:nth-last-child(-n+4) {
  margin-bottom: 0px;
}
.music-band__foto {
  position: relative;
  width: 100%;
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
}

.music-band__foto-1 {
  background-image: url('../img/mb_ploho.png');
}

.music-band__foto-2 {
  background-image: url('../img/mb_molchat_doma.png');
}

.music-band__foto-3 {
  background-image: url('../img/mb_motorama.png');
}

.music-band__foto-4 {
  background-image: url('../img/mb_human_tetris.png');
}

.music-band__foto-5 {
  background-image: url('../img/mb_buerak.png');
}

.music-band__foto-6 {
  background-image: url('../img/mb_july_days.png');
}

.music-band__foto-7 {
  background-image: url('../img/mb_joy_division.png');
}

.music-band__foto-8 {
  background-image: url('../img/mb_the_cure.png');
}

.music-band__foto-9 {
  background-image: url('../img/mb_the_smith.png');
}

.music-band__foto-10 {
  background-image: url('../img/mb_new_order.png');
}

.music-band__foto-11 {
  background-image: url('../img/mb_bauhaus.png');
}

.music-band__foto-12 {
  background-image: url('../img/mb_gang_of_four.png');
}

.music-band__foto:after {
  position: absolute;
  right: 0;
  height: 15px;
  padding: 4px;
  padding-top: 1px;
  background-color: #333;
}

.music-band__foto-1:after,
.music-band__foto-2:after,
.music-band__foto-3:after,
.music-band__foto-4:after,
.music-band__foto-5:after,
.music-band__foto-6:after {
  content: url('../img/country_russia.svg');
}

.music-band__foto-7:after,
.music-band__foto-8:after,
.music-band__foto-9:after,
.music-band__foto-10:after,
.music-band__foto-11:after,
.music-band__foto-12:after {
  content: url('../img/country_usa.svg');
}

.music-band__info {
  border: 1px solid #E6E8EC;
  padding: 16px;
  height: calc(100% - 160px);
}
.music-band__name {
  font-weight: 500;
}
.music-band__albums {
  color: #A1A6B4;
}

/* ______________ */
.wave {
  background: #292E39;
  color: #FFFFFF;
}
.wave__container {
  outline: 1px solid blue;
  display: flex;
  gap: 30px;
}

.wave__img {
  position: relative;
  width: 60%;
  height: 562px;
  background-image: url('../img/old_radio.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.stiker {
  background-image: url('../img/sticker_new.png');
  position: absolute;
  left: 0;
  width: 25%;
  height: 29%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.wave__info {
  width: 41%;
}
.wave__title {
  color: #F0D288;
  margin-bottom: 19px;
}

.wave__line {
  margin-bottom: 19px;
}
.wave__text {
  line-height: 29px;
}
.wave__text-1 {
  margin-bottom: 12px;
}
.wave__text-2 {
  margin-bottom: 30px;
  letter-spacing: -0.1px;
}
.wave__price {
  font-weight: 500;
font-size: 30px;
margin-bottom: 30px;
}

.wave__yandex {
  color: #F0D288;
  border: 2px solid #F0D288;
  padding-right: 13.5px;
    padding-left: 13.5px
}

/* _____________ */
.about-us {
  background: #121723;
  color: white;
}

.about-us__info {
  display: grid;
  grid-template-columns: 57% 40%;
  gap: 30px;
}

.about-us__right {
  height: 290px;
  display: flex;
  gap: 30px;
}

.spiral {
  width: 100%;
  max-width: 160px;
  height: 100%;
  background-image: url('../img/spiral.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.star {
  width: 100%;
  height: 100%;
  background-image: url('../img/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-us__people {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.person__foto {
  width: 100%;
  height: 255px;
  background-position: center;
}

.person__foto-1 {
  background-image: url('../img/us_dmitri.png');
}

.person__foto-2 {
  background-image: url('../img/us_anna.png');
}

.person__foto-3 {
  background-image: url('../img/us_petr.png');
}

.person__foto-4 {
  background-image: url('../img/us_tatyana.png');
}

.person__foto-5 {
  background-image: url('../img/us_fedor.png');
}

.person__foto-6 {
  background-image: url('../img/us_svetlana.png');
}

.person__name {
  margin-top: 30px;
}

.person__description {
  margin-top: 8px;
}

.about-us__form {
  margin-top: 30px;
}

.form {
  max-width: 920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 70px 70px 15px;
  gap: 30px;
}

.input {
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: #121723;
  padding: 25px 32px;
}

.form__input-massage {
  grid-column: 1/3;
  border-radius: 30px;
  padding: 30px 32px;
}

/* ____________ */
.footer {
  height: 323px;
  background: #292E39;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  height: 88px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer__link {
  color: white;
}

.footer__right {
  width: 445px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.footer__item {
  padding-bottom: 15px;
}

.footer__item:nth-child(3n) {
  padding-bottom: 0;
}

.footer__wave {
  height: 12px;
  background-image: url('../img/wavy_long_line.svg');
  background-repeat: repeat-x;
}

.footer__copyright {
  text-align: center;
  font-size: 16px;
  color: #A1A6B4;
  padding: 10px 0;
}



@media (max-width: 1024px) {

  .header__container {
    grid-template-columns: 1fr 14%;
    grid-template-rows: 60px 80px;
    gap: 0;
  }

  .header__logo {
    grid-column: 1/3;
  }

  .header2 {
    grid-template-columns: 1fr 31.5%;
  }

  .age {
    display: none;
  }



  .broadcasts__cards {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
